<!DOCTYPE html>

<head>
    <title>dashboard</title>
    <link rel="stylesheet" href="../static/mystyle.css">
</head>

<body class="m-4">
    <h3>Welcome {{name}}</h3>
    <br>
    <strong>Jobs Posted</strong>
    <br>
    <br>
    <table rules="rows">
        <tr>
            <th class="padin6">Id</th>
            <th class="padin6">Role</th>
            <th class="padin6">Timing</th>
            <th class="padin6">Requirements</th>
            <th class="padin6">Salary</th>
            <th class="padin6">Available</th>
            <th class="padin6">Organization name</th>
            <th class="padin6">Contact</th>
        </tr>
        {% for i in jobs %}
        <tr>
            <td class="padin6">{{i[0]}}</td>
            <td class="padin6">{{i[1]}}</td>
            <td class="padin6">{{i[2]}}</td>
            <td class="padin6">{{i[3]}}</td>
            <td class="padin6">{{i[4]}}</td>
            <td class="padin6">{{i[5]}}</td>
            <td class="padin6">{{i[6]}}</td>
            <td class="padin6">{{i[7]}}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <br>
    <form method="POST">
        See Applications<br>
        <div class="gap"></div>
        <input class="idbtn" type="text" name="seejobid" value="{{request.form['seejobid']}}"
            placeholder="Enter Job ID">
        <button class="highlight" type="submit" name="see">Go</button>
        <div style="height: 10pt;"></div>
        {% if request.method=="POST" and "see" in request.form %}

        <table rules="rows">
            <tr style="border-bottom: 1pt solid">
                <th class="padin6">ID</th>
                <th class="padin6">Name</th>
                <th class="padin6">Age</th>
                <th class="padin6">Gender</th>
                <th class="padin6">Likes</th>
                <th class="padin6">Qualification</th>
                <th class="padin6">City</th>
                <th class="padin6">Email</th>
                <th class="padin6">Mobile</th>
            </tr>
            {% for i in jobseekers %}
            <tr style="border-bottom: 1pt solid">
                <td class="padin6">{{i[0]}}</td>
                <td class="padin6">{{i[1]}}</td>
                <td class="padin6">{{i[2]}}</td>
                <td class="padin6">{{i[3]}}</td>
                <td class="padin6">{{i[4]}}</td>
                <td class="padin6">{{i[5]}}</td>
                <td class="padin6">{{i[6]}}</td>
                <td class="padin6">{{i[7]}}</td>
                <td class="padin6">{{i[8]}}</td>
            </tr>
            {% endfor %}
        </table>
        <br>
        <div class="ml-4">
            Accept Request<br>
            <input class="idbtn" type="text" name="reqjsid" placeholder="Enter Job Seekers ID">
            <button class="highlight" type="submit" name="accreq">Go</button>
        </div>
        <br>
        {% endif %}
        
        <div style="height: 20pt;"></div>
        <div>
            Update Job Application<br>
            <div class="gap"></div>
            <input class="idbtn" name="jobid" type="text" placeholder="Enter Job ID">
            <button class="highlight" type="submit" name='sub1'>Go</button>
        </div>
        {% if request.method == 'POST' and 'sub1' in request.form %}
        <br>
        <div class="mygrid half">
            <div class="m">
                Available<br>
                <input class="inp" type="text" name="available" value="{{fulljob[0]}}">
            </div>
            <div class="m">
                Timing<br>
                <input class="inp" type="text" name="timing" value="{{fulljob[1]}}">
            </div>
            <div class="m gitem">
                Requirements<br>
                <textarea class="inp req" name="requirement">{{fulljob[2]}}</textarea>
            </div>
            <div class="m">
                City<br>
                <input class="inp" type="text" name="city" value="{{fulljob[3]}}">
            </div>
            <div class="m">
                Role<br>
                <input class="inp" type="text" name="role" value="{{fulljob[4]}}">
            </div>
            <div class="m">
                Salary<br>
                <input class="inp" type="text" name="salary" value="{{fulljob[5]}}">
            </div>
            <div class="m">
                Area<br>
                <input class="inp" type="text" name="area" value="{{fulljob[6]}}">
            </div>
            <div class="m">
                Contact<br>
                <input class="inp" type="text" name="contact" value="{{fulljob[7]}}">
            </div>
            <div class="m">
                Organization name<br>
                <input class="inp" type="text" name="orgname" value="{{fulljob[8]}}">
            </div>
        </div>
        <div style="height: 10pt;"></div>
        <button class="ml highlight" type="submit" name='sub2'>Save Application</button>
        <br>
        <div class="half"><hr></div>
        {% endif %}

        <br>
        <br>
        <button class="highlight" type="submit" name="profile">Profile</button>
        {% if request.method == 'POST' and 'profile' in request.form %}
        <div class="myflex half">
            <div class="m">
                Name<br>
                <input class="inp" required type="text" name="name" value="{{profile[0]}}">
            </div>
            <div class="m">
                Gender<br>
                <input class="inp" required type="text" name="gender" value="{{profile[1]}}">
            </div>
            <div class="m">
                Business name<br>
                <input class="inp" required type="text" name="education" value="{{profile[2]}}">
            </div>
            <div class="m">
                Mobile<br>
                <input class="inp" type="text" name="mobile" value="{{profile[3]}}">
            </div>
            <div class="m">
                City<br>
                <input class="inp" type="text" name="city" value="{{profile[4]}}">
            </div>
            <div class="m">
                Email id<br>
                <input class="inp" required type="email" name="email_id" value="{{profile[5]}}">
            </div>
            <div class="m">
                Password<br>
                <input class="inp" required type="pasword" name="password" value="{{profile[6]}}">
            </div>
        </div>
        <div class="gap"></div>
        <button class="ml highlight" type="submit" name="sub4">Save profile</button>
        <div class="half"><hr></div>
        {% endif %}
        <br>
        <br>
        <br>
        <button class="highlight" type="submit" name="newjob">New job</button>
        {% if request.method == 'POST' and 'newjob' in request.form %}
        <!-- <div class="ml myflex half">
            <div class="m">
                Role<br>
                <select class="inp" required type name="nrole">
                    {% for i in roles %}
                    <option value="{{i}}">{{i}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="m">
                Timing<br>
                <input class="inp" required type="text" name="ntiming">
            </div>
            <div class="m">
                Requirement<br>
                <textarea class="inp req" required name="nrequirement"></textarea>
            </div>
            <div class="m">
                City<br>
                <input class="inp" required type="text" name="ncity">
            </div>
            <div class="m">
                Salary per month<br>
                <input class="inp" required type="text" name="nsalary">
            </div>
            <div class="m">
                Area<br>
                <input class="inp" type="text" name="narea">
            </div>
            <div class="m">
                Contact<br>
                <input class="inp" type="text" name="ncontact">
            </div>
            <div class="m">
                Organization name<br>
                <input class="inp" type="text" name="norgname">
            </div>
        </div> -->
        <div class="ml mygrid half">
            <div class="m">
                Role<br>
                <select class="inp" required type name="nrole">
                    {% for i in roles %}
                    <option value="{{i}}">{{i}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="m">
                Timing<br>
                <input class="inp" required type="text" name="ntiming">
            </div>
            <div class="m gitem">
                Requirement<br>
                <textarea class="inp req " required name="nrequirement"></textarea>
            </div>
            <div class="m">
                City<br>
                <input class="inp" required type="text" name="ncity">
            </div>
            <div class="m">
                Salary per month<br>
                <input class="inp" required type="text" name="nsalary">
            </div>
            <div class="m">
                Area<br>
                <input class="inp" type="text" name="narea">
            </div>
            <div class="m">
                Contact<br>
                <input class="inp" type="text" name="ncontact">
            </div>
            <div class="m">
                Organization name<br>
                <input class="inp" type="text" name="norgname">
            </div>
        </div>

        <button class="m highlight" type="submit" name="sub3">Save Job</button>
        {% endif %}
        <br>
        <br>
        <br>
        <button class="highlight" type="submit" name="logo">Logout</button>
    </form>
</body>

</html>