<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>employer_dashboard</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <h3>Welcome {{name}}</h3>
    {% for i in jobs %}
        {{i}}
    {% endfor %}
    <form method="POST">
        <div style="width: 150pt;">
            <label>Enter jobid</label>
            <input name="jobid" type="text" class="form-control ms-2"
                aria-describedby="button-addon2" value="{{request.form['jobid']}}">
            <!-- <div class="input-group-append"> -->
            <button class="btn btn-outline-secondary" type="submit" name='sub1' id="button-addon2">Go</button>
            <!-- </div> -->
        </div>
        {% if request.method == 'POST' and 'sub1' in request.form %}
        <div class="container">
            <div class="mb-3 col">
                available
                <input type="text" name="available" class="form-control" value="{{fulljob[0]}}">
            </div>
            <!-- <div class="mb-3 col"> -->
                <!-- id -->
                <!-- <input type="text" name="mono" class="form-control" value="{{fulljob[1]}}"> -->
            <!-- </div> -->
            <div class="mb-3 col">
                timing
                <input type="text" name="timing" class="form-control" value="{{fulljob[2]}}">
            </div>
            <div class="mb-3 col">
                requirement
                <input type="text" name="requirement" class="form-control" value="{{fulljob[3]}}">
            </div>
            <div class="mb-3 col">
                city
                <input type="text" name="city" class="form-control" value="{{fulljob[4]}}">
            </div>
            <div class="mb-3 col">
                role
                <input type="text" name="role" class="form-control" value="{{fulljob[5]}}">
            </div>
            <!-- <div class="mb-3 col"> -->
                <!-- eid -->
                <!-- <input type="text" name="p1mono" class="form-control" value="{{fulljob[6]}}"> -->
            <!-- </div> -->
            <div class="mb-3 col">
                salary
                <input type="text" name="salary" class="form-control" value="{{fulljob[7]}}">
            </div>
            <div class="mb-3 col">
                work location
                <input type="text" name="work_location" class="form-control" value="{{fulljob[8]}}">
            </div>
        </div>
        <button type="submit" name='sub2' class="btn btn-primary">Save</button>
        {% endif %}

        
        
        <button type="submit" name="newjob">new job</button>
        {% if request.method == 'POST' and 'newjob' in request.form %}
        <div class="container">
            <!-- <div class="mb-3 col">
                available
                <input type="text" name="available" class="form-control" value="{{fulljob[0]}}">
            </div> -->
            <!-- <div class="mb-3 col"> -->
                <!-- id -->
                <!-- <input type="text" name="mono" class="form-control" value="{{fulljob[1]}}"> -->
            <!-- </div> -->
            <div class="mb-3 col">
                timing
                <input type="text" name="ntiming" class="form-control" >
            </div>
            <div class="mb-3 col">
                requirement
                <input type="text" name="nrequirement" class="form-control" >
            </div>
            <div class="mb-3 col">
                city
                <input type="text" name="ncity" class="form-control" >
            </div>
            <div class="mb-3 col">
                role
                <input type="text" name="nrole" class="form-control" >
            </div>
            <!-- <div class="mb-3 col"> -->
                <!-- eid -->
                <!-- <input type="text" name="p1mono" class="form-control" value="{{fulljob[6]}}"> -->
            <!-- </div> -->
            <div class="mb-3 col">
                salary
                <input type="text" name="nsalary" class="form-control">
            </div>
            <div class="mb-3 col">
                work location
                <input type="text" name="nwork_location" class="form-control">
            </div>
        </div>
        <button type="submit" name="sub3">save job</button>
        {% endif %}
    </form>
    
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>