<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>employer_dashboard</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body class="m-4">
    <h3>Welcome {{name}}</h3>
    {% for i in jobs %}
        <div>{{i}}</div>
    {% endfor %}
    <div style="height: 20pt;"></div>
    <form method="POST">
        <div style="width: 200pt;">
            <label>Update Job application</label>
            <input name="jobid" type="text" value="{{request.form['jobid']}}" placeholder="Enter Job ID">
            <button type="submit" name='sub1'>Go</button>
        </div>
        {% if request.method == 'POST' and 'sub1' in request.form %}
        <div style="width: 180pt;">
            <div class="m-2">
                available
                <input type="text" name="available" value="{{fulljob[0]}}">
            </div>
            <div class="m-2">
                timing
                <input type="text" name="timing" value="{{fulljob[2]}}">
            </div>
            <div class="m-2">
                requirement
                <input type="text" name="requirement" value="{{fulljob[3]}}">
            </div>
            <div class="m-2">
                city
                <input type="text" name="city" value="{{fulljob[4]}}">
            </div>
            <div class="m-2">
                role
                <input type="text" name="role" value="{{fulljob[5]}}">
            </div>
            <div class="m-2">
                salary
                <input type="text" name="salary" value="{{fulljob[7]}}">
            </div>
            <div class="m-2">
                work location
                <input type="text" name="work_location" value="{{fulljob[8]}}">
            </div>
        </div>
        <div style="height: 10pt;"></div>
        <button type="submit" name='sub2'>Save Application</button>
        {% endif %}

        <div style="height: 20pt;"></div>
        <button type="submit" name="profile">profile</button>
        {% if request.method == 'POST' and 'profile' in request.form %}
        <div style="width: 180pt;">
            <div class="m-2">
                Name
                <input type="text" name="name" value="{{profile[1]}}">
            </div>
            <div class="m-2">
                Age
                <input type="text" name="age" value="{{profile[2]}}">
            </div>
            <div class="m-2">
                Gender
                <input type="text" name="gender" value="{{profile[3]}}">
            </div>
            <div class="m-2">
                Education
                <input type="text" name="education" value="{{profile[5]}}">
            </div>
            <div class="m-2">
                Mobile
                <input type="text" name="mobile" value="{{profile[6]}}">
            </div>
            <div class="m-2">
                Area
                <input type="text" name="area" value="{{profile[7]}}">
            </div>
            <div class="m-2">
                City
                <input type="text" name="city" value="{{profile[8]}}">
            </div>
            <div class="m-2">
                Email id
                <input type="text" name="email_id" value="{{profile[10]}}">
            </div>
            <div class="m-2">
                Password
                <input type="text" name="password" value="{{profile[9]}}">
            </div>
        </div class="m-2">
        <div style="height: 10pt;"></div>
        <button type="submit" name="sub4">save profile</button>
        {% endif %}

        <div style="height: 20pt;"></div>
        <button type="submit" name="newjob">new job</button>
        {% if request.method == 'POST' and 'newjob' in request.form %}
        <div style="width: 180pt;">
            <div class="m-2">
                Timing
                <input type="text" name="ntiming" >
            </div>
            <div class="m-2">
                Requirement
                <input type="text" name="nrequirement" >
            </div>
            <div class="m-2">
                City
                <input type="text" name="ncity" >
            </div>
            <div class="m-2">
                Role
                <input type="text" name="nrole" >
            </div>
            <div class="m-2">
                Salary
                <input type="text" name="nsalary" >
            </div>
            <div class="m-2">
                Work location
                <input type="text" name="nwork_location" >
            </div>
        </div>
        <div style="height: 10pt;"></div>
        <button type="submit" name="sub3">Save Job</button>
        {% endif %}
    </form>
    
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>