<!DOCTYPE html>
<head>
    <title>login</title>
    <link rel="stylesheet" href="../static/mystyle.css">
</head>
<body>
    <div class="m-4">
        <form method="POST">
            <h4>Login</h4>
            <input class="inp" type="email" name="email" placeholder="Enter email" autocomplete="off">
            <br>
            <div class="gap"></div>
            <input class="inp" type="password" name="pass" placeholder="Password">
            <br>
            <br>
            <!-- <div class="m-3"> -->
                <button type="submit" class="highlight">Submit</button>
            <!-- </div> -->
            <br>
            <br>
                <h5>Don't have an account yet!</h5>
                <div class="ml-3">
                    <button type="submit" class="highlight" name="regemp">Register</button>
                </div>
        </form>
    </div>
</body>
</html>
