<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div class="m-4">
        <form method="POST">
            <h5>Login as,</h5>
            <div >
                <input type="radio" name="exampleRadios" value="option1" checked>
                <label>
                  Employer
                </label>
            </div>
            <div>
                <input type="radio" name="exampleRadios" value="option2">
                <label>
                  Job Seeker
                </label>
            </div>

            <input type="email" name="email" placeholder="Enter email">
            <br>
            <input type="password" name="pass" placeholder="Password">
            
            <div class="m-3">
                <button type="submit">Submit</button>
            </div>

            <br>
                <h5>Don't have an account yet!</h5>
                <div class="ml-3">
                    <button type="submit" name="regemp">Register</button>
                </div>
        </form>
    </div>
</body>
</html>
