<!DOCTYPE html>

<head>
    <title>employer_registration</title>
    <link rel="stylesheet" href="../static/mystyle.css">
</head>

<body>
    <form method="POST">
        <div class="gap"></div>
        
            <div class="m myflex2">
                <div>
                <input required type="radio" name="who" value="emp"><span style="padding: 5pt;">Employer</span>
                </div>
                <div>
                <input type="radio" name="who" value="js"><span style="padding: 5pt;">Job Seeker</span>
                </div>
            </div>
            <br>
            <div class="myflex half">
            <div class="m">
                Name<br>
                <input class="inp" required autofocus type="text" name="name">
            </div>
            <div class="m">
                Organization name<br>
                <input class="inp" type="text" name="orgname">
            </div>
            <div class="m">
                Age<br>
                <input class="inp" type="number" name="age" placeholder="only for job seekers">
            </div>
            <div class="m">
                Gender<br>
                <input class="inp" required type="text" name="gender">
            </div>
            <div class="m">
                Education<br>
                <input class="inp" type="text" name="education" placeholder="only for job seekers">
            </div>
            <div class="m">
                Mobile<br>
                <input class="inp" required type="text" name="mobile">
            </div>
            <div class="m">
                Area<br>
                <input class="inp" type="text" name="area">
            </div>
            <div class="m">
                City<br>
                <input class="inp" required type="text" name="city">
            </div>
            <div class="m">
                Email<br>
                <input class="inp" required type="text" name="email_id">
            </div>
            <div class="m">
                Password<br>
                <input class="inp" required type="text" name="password">
            </div>
        </div>
        <br>
        <button class="m highlight" type="submit">Save</button>
    </form>
</body>

</html>