<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>employer_registration</title>
</head>
<body>
    <form method="POST" style="width: 150pt;">
        <div>
            <input type="radio" name="who" value="emp">employer
        </div>
        <div>
            <input type="radio" name="who" value="js">job seeker
        </div>
        <div>
            <label>Name</label>
            <input required autofocus type="text" name="name">
        </div>
        <div>
            <label>Age</label>
            <input type="text" name="age">
        </div>
        <div>
            gender
            <input type="text" name="gender">
        </div>
        <div>
            education
            <input type="text" name="education">
        </div>
        <div>
            mobile
            <input type="text" name="mobile">
        </div>
        <div>
            area
            <input type="text" name="area">
        </div>
        <div>
            city
            <input type="text" name="city">
        </div>
        <div>
            email
            <input type="text" name="email_id">
        </div>
        <div> 
            password
            <input type="text" name="password">
        </div>
        <button type="submit">Save</button>
    </form>
</body>
</html>