<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>search_job</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div class="m-4">
        <form method="POST">
            <div class="m-2">
                City<br>
                <input type="text" name="city" value="{{city[0]}}">
            </div>
            <div class="m-2">
                Minimum salary<br>
                <input type="text" name="salary">
            </div>
            <!-- <div class="m-2">
                Shift
                <input type="text" name="shift">
            </div>
            <div class="m-2">
                Role
                <input type="text" name="role">
            </div> -->
            <div class="m-3">
                <button type="submit">Search</button>
            </div>
        

        {% if request.method=="POST" %}
        <div style="height: 10pt;"></div>
        Apply for Job
        <br>
        <input type="text" placeholder="Job ID" name="jobid">
        <button type="submit" name="apply">apply</button>
    </form>

        <div style="height: 10pt;"></div>
        {% for i in jobs %}
            <div>{{i}}</div>            
        {% endfor %}
        {% endif %}
    </div>
</body>
</html>