<!DOCTYPE html>

<head>
    <title>search_job</title>
    <link rel="stylesheet" href="../static/mystyle.css">
</head>

<body>
    <div>
        <form method="POST">
            <div>
                City<br>
                <input type="text" name="city" value="{{city[0]}}">
            </div>
            <br>
            <div>
                Minimum salary<br>
                <input type="text" name="salary">
            </div>
            <br>
            <div>
                Role<br>
                <select multiple name="role" style="height: 200pt; width: 150pt">
                    {% for i in roles %}
                    <option value="{{i}}">{{i}}</option>
                    {% endfor %}
                </select>
            </div>
            <br>
            <button class="highlight" type="submit" name="search">Search</button>
            {% if request.method=="POST" %}
            <br>
            <br>
            Apply for Job
            <br>
            <input type="text" placeholder="Job ID" name="jobid">
            <button class="highlight" type="submit" name="apply">apply</button>
        </form>
        <br>
        <table>
            <tr style="border-bottom: 1pt solid">
                <th class="padin6">ID</th>
                <th class="padin6">Role</th>
                <th class="padin6">Organization name</th>
                <th class="padin6">Timing</th>
                <th class="padin6">Requirement</th>
                <th class="padin6">Salary</th>
                <th class="padin6">Area</th>
                <th class="padin6">Contact</th>
            </tr>
            {% for i in jobs %}
            <tr style="border-bottom: 1pt solid">
                <td class="padin6">{{i[0]}}</td>
                <td class="padin6">{{i[1]}}</td>
                <td class="padin6">{{i[7]}}</td>
                <td class="padin6">{{i[2]}}</td>
                <td class="padin6">{{i[3]}}</td>
                <td class="padin6">{{i[4]}}</td>
                <td class="padin6">{{i[5]}}</td>
                <td class="padin6">{{i[6]}}</td>
            </tr>
            {% endfor %}
        </table>

        {% endif %}
    </div>
</body>

</html>